node_modules
.env
coverage
coverage.json
dist
.npmignore
*.tgz

#Hardhat files
cache
artifacts

#Contracts
src/contracts/Indelible.sol
src/contracts/IndelibleGenerative.sol
src/contracts/IndelibleOneOfOne.sol