node_modules
.env
coverage
coverage.json
dist

#Hardhat files
cache
artifacts

#Contracts
src/contracts/IndelibleERC721A.sol
src/contracts/IndelibleERC721A-allowlist.sol
src/contracts/IndelibleERC721A-no-allowlist.sol